name: Build

on: push

jobs:
  build-lint-test:
    name: Build, Lint & Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x, 22.x]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: yarn install
      - name: Build the package
        run: yarn build
      - name: Run the linter
        run: yarn lint
      - name: Run the tests
        run: yarn test:coverage
      - name: Upload coverage report to Codecov
        if: matrix.node-version == '22.x'
        uses: codecov/codecov-action@v5
